<!DOCTYPE html>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static "jquery-1.11.1.js" %}"></script>


<head>

</head>

<head>
  <title>zalogi lotow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
Wystapil wczesniej blad, sprobuj jeszcze raz!!!
<td> <a href="/planecrew/">link do strony zalog lotow</a> </td>

</body>
</html>
